<?xml version="1.0" ?>
<launch>
  <node pkg="rosserial_server" type="serial_node" name="rosserial_server">
    <rosparam>
      port: /dev/led_strip
      baud: 115200
      require:
        publishers: []
        subscribers: [leds/set, leds/set_led, lidar/range]
    </rosparam>
  </node>

<!--   <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="/dev/led_strip"/>
    <param name="baud" value="115200"/>
  </node>
 -->

  <node pkg="rosserial_python" type="message_info_service.py" 
    name="rosserial_message_info" />

  <node pkg="autonomy_leds_tools" type="leds_animation_engine_node" 
    name="leds_animation_engine_node" output="screen">
    <param name="update_rate" value="25" />
    <param name="num_leds" value="100" />
  </node>
</launch>
